<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Server</key>
	<string>127.0.0.1:8080</string>
	<key>ViewController</key>
	<dict>
		<key>PV</key>
		<dict>
			<key>ENTER</key>
			<string>PAGE_ENTER_PV</string>
			<key>LEAVE</key>
			<string>PAGE_LEAVE_PV</string>
		</dict>
		<key>MV</key>
		<dict>
			<key>clickTest:</key>
			<string>CLICKTEST_MV</string>
		</dict>
	</dict>
</dict>
</plist>
